{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tweet Like A Celebrity</title>

    <!-- The Pure CSS framework -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
      <!--<![endif]-->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Our custom CSS and JS -->
    <link rel="stylesheet" href="{% static 'classifier_app/css/index.css' %}">
    <script src="{% static 'classifier_app/js/index.js' %}"></script>
  </head>

  <body>
    <div class="pure-g">
      <div class="pure-u-1-1">
        <div id="input-div" class="centered">
          <!-- Tab links -->
          <div class="tab">
            <button id="tablink-handle" class="tablinks" onclick="openTab(event, 'handle')">Enter handle</button>
            <button id="tablink-tweet" class="tablinks" onclick="openTab(event, 'tweet')">Enter tweet</button>
          </div>

          <!-- Tab content -->
          <div id="tab-handle" class="tabcontent">
            <input id="twitter-input" class="centered" placeholder="@Your-Twitter-Handle">
          </div>

          <div id="tab-tweet" class="tabcontent">
            <textarea id="twitter-textarea" class="centered" placeholder="Please enter a sample tweet."></textarea>
          </div>
        </div>
        <button class="pure-button centered" id="twitter-input-button">Match your celebrity </button>
      </div>
    </div>

    <div id="img-row" class="pure-g">
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/trump.jpg' %}">
        <p class="caption"> Donald Trump </p>
        <p class="subcaption"> President of the United States </p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/rihanna.jpg' %}">
        <p class="caption"> Rihanna </p>
        <p class="subcaption"> Singer and activist </p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/elon.jpg' %}">
        <p class="caption"> Elon Musk </p>
        <p class="subcaption">  CEO of Tesla and SpaceX </p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/lebron.jpg' %}">
        <p class="caption"> LeBron James </p>
        <p class="subcaption">  Basketball player </p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/neil.jpg' %}">
        <p class="caption"> Neil deGrasse Tyson </p>
        <p class="subcaption">  Astrophysicist </p>
      </div>
    </div>
  </body>
</html>
