{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tweet Like A Celebrity</title>
    
    <!-- The Pure CSS framework -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'classifier_app/css/index.css' %}">
  </head>

  <body>
    <div class="pure-g">
      <div class="pure-u-1-1">
        <input id="twitter-input" class="centered" placeholder="Your Twitter handle">
        <button class="pure-button centered" id="twitter-input-button">Match your celebrity</button>
      </div>
    </div>

    <div id="img-row" class="pure-g">
      <div class="pure-u-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/trump.jpg' %}">
      </div>
      <div class="pure-u-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/rihanna.jpg' %}">
      </div>
      <div class="pure-u-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/elon.jpg' %}">
      </div>
      <div class="pure-u-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/lebron.jpg' %}">
      </div>
      <div class="pure-u-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/neil.jpg' %}">
      </div>
    </div>
  </body>
</html>
