{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Twitter Twin</title>

    <!-- The Pure CSS framework -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
      <!--<![endif]-->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Our custom CSS and JS -->
    <link rel="stylesheet" href="{% static 'classifier_app/css/index.css' %}">
    <script src="{% static 'classifier_app/js/index.js' %}"></script>
  </head>

  <body>
    {% csrf_token %}

    <h1>Twitter Twin</h1>
    <h3>Find your celebrity twin below.</h3>

    <div class="pure-g">
      <div class="pure-u-1-1">
        <div id="input-div" class="centered">
          <!-- Tab links -->
          <div class="tab">
            <button id="tablink-handle" class="tablinks" onclick="openTab(event, 'handle')">Enter handle</button>
            <button id="tablink-tweet" class="tablinks" onclick="openTab(event, 'tweet')">Enter tweet</button>
          </div>

          <!-- Tab content -->
          <div id="tab-handle" class="tabcontent">
            <input id="handle-input" class="centered" placeholder="@Your-Twitter-Handle">
            <button id="handle-input-button" class="pure-button centered input-button">Find your match</button>
          </div>

          <div id="tab-tweet" class="tabcontent">
            <textarea id="tweet-input" class="centered" placeholder="Your sample tweet:"></textarea>
            <button id="tweet-input-button" class="pure-button centered input-button">Find your match</button>
          </div>
        </div>
      </div>
    </div>

    <div id="img-row" class="pure-g">
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/trump.jpg' %}">
        <p class="caption"><a href="https://twitter.com/realDonaldTrump">Donald Trump</a></p>
        <p class="subcaption">President of the United States</p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/rihanna.jpg' %}">
        <p class="caption"><a href="https://twitter.com/rihanna">Rihanna</a></p>
        <p class="subcaption">Singer and activist</p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/elon.jpg' %}">
        <p class="caption"><a href="https://twitter.com/elonmusk">Elon Musk</a></p>
        <p class="subcaption">CEO of Tesla and SpaceX</p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/lebron.jpg' %}">
        <p class="caption"><a href="https://twitter.com/KingJames">LeBron James</a></p>
        <p class="subcaption">Basketball player</p>
      </div>
      <div class="img-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="pure-img twitter-img" src="{% static 'classifier_app/img/neil.jpg' %}">
        <p class="caption"><a href="https://twitter.com/neiltyson">Neil Tyson</a></p>
        <p class="subcaption">Astrophysicist</p>
      </div>
    </div>
  </body>
</html>
