body {
  padding-top: 50px;
}

#twitter-input {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  padding: 3px;
}

@media screen and (min-width: 450px) {
  #twitter-input {
    width: 400px;
  }
}

@media screen and (max-width: 449px) {
  #twitter-input {
    width: 90%;
  }
}

#twitter-input-button {
  display: block;
}

.centered {
  margin: 0 auto;
}

.coefficient {
  text-align: center;
  font-size: 2em;
  margin-right: 2px;
  margin-left: 2px;
}

.coefficient-green {
  background-color: lightgreen;
  color: darkgreen;
}

.coefficient-yellow {
  background-color: #eff7a0;
  color: #80891a;
}

.coefficient-red {
  background-color: #f4424b;
  color: maroon;
}

.twitter-img {
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
}

#img-row {
  margin-top: 50px;
}

/* margin: top right bottom left; */

.caption {
  font-size: 18px;
  text-align: center;
  margin: 2px 5px 2px 5px;
  color: gray;
}

.subcaption{
  font-size: 15px;
  text-align: center;
  margin: 2px 5px 2px 5px;
  color: darkgray;

}
